@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$baseColor: #1d1d1d;
$baseColor-2: #1a1a1a;
$baseColor-3: #222222;
$baseColor-4: #181827;
$secondaryColor: #8b26f4;
$secondaryColor-2: #5c06aa;
$secondaryColor-3: #5600af;
$blueColor: #7868e6;
$text-color: #868686;
$boderColor: #746bde;
$borderColor-2: #38076c;
$dimbg: #070707;
$dimbg-2: #121212;
$dimbg-3: #111119;
$dimbg-4: #101010;
$hoverColor: #8b26f4;
$buttonDisabled: #496989;
$gradientColor: linear-gradient(180deg,
                rgba(129, 39, 228, 1) 0%,
                rgba(55, 42, 109, 1) 100%);

$gradientColor-2: linear-gradient(180deg,
                rgba(139, 38, 244, 1) 0%,
                rgba(116, 64, 219, 1) 100%);

$gradientColor-3: linear-gradient(180deg,
                rgba(54, 1, 110, 1) 0%,
                rgba(74, 10, 201, 1) 100%);

$gradientReverse: linear-gradient(268deg,
                rgba(139, 38, 244, 1) 0%,
                rgba(55, 42, 109, 1) 100%);
$purpleColor: #7868e6;
$baseBg: #5600af;
$hoverGradient: transparent linear-gradient(268deg, #c996cc 0%, #8b26f4 100%) padding-box;
$shimmer: linear-gradient(90deg,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0.2) 100%);

// NEW THEME
$white: #ffffff;
$black: #000000;
$baseFont: 'Poppins', sans-serif;
$darkBg: #000e27;
$gradient: transparent linear-gradient(261deg, #31d671 0%, #5e44ec 100%) 0% 0% no-repeat padding-box;
$gradientRev: transparent linear-gradient(100deg, #31d671 0%, #5e44ec 100%) 0% 0% no-repeat padding-box;
$textLight: #c8c8c8;
$textLight2: #bbbbbb;
$textLight3: #fef6e7;
$borderClr: #6a6a6a;
$textLight4: #cfcdd2;
$textLight5: #949494;
$greenLightClr: #07dbc1;
$buttonGreenBg: #0e2c3e;
$inputBg: #1b4855;
$btnbg: #01132e;
$primaryclr: #5e44ec;

$redclr: rgb(240, 72, 72);
$greenclr: #0b8d5b;

%backgroundBlack {
        background-image: url('../images/backgrounds/modal-background.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

$opacitywhite: rgba(255, 255, 255, 0.5);