@import '../../assets/theme/_var.scss';

.Shimmer {
  // background-image: linear-gradient(to right, #f6f6f6c7 8%, #f0f0f0e0 18%, #f6f6f6 33%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  // animation: placeholderShimmer linear infinite forwards !important;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background: $shimmer;
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
