@import "../../../assets/theme/_var.scss";

.StakePool {
  margin-bottom: 40px;

  .StakePoolHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;

    @media (max-width: 575px) {
      display: block;
    }

    .StakePoolHeaderRight {
      display: flex;
      align-items: center;

      .searchInput {
        max-width: 194px;
        margin-right: 14px;

        input {
          &::placeholder {
            color: $white;
            opacity: 1;
          }
        }

        svg {
          g {
            opacity: 1;
          }

          path {
            opacity: 1;
            fill: $white;
          }
        }
      }

      .sortBy {
        :global {
          .select__control {
            .select__value-container {
              .select__placeholder {
                opacity: 1;
              }
            }
          }

          .select__menu {
            min-width: 150px;
          }
        }
      }

      @media (max-width: 575px) {
        > div {
          flex: 1 1 50%;
          margin-top: 10px;

          &.searchInput {
            max-width: 100%;
          }
        }
      }

      @media (max-width: 379px) {
        flex-wrap: wrap;

        > div {
          margin-top: 0;
          flex: 1 1 100%;

          &.searchInput {
            margin: 10px 0;
          }
        }
      }
    }
  }

  .StakePoolInner {
    table {
      thead {
        tr {
          th {
            &:nth-child(2) {
              min-width: 190px;
            }
            &:nth-last-child(2) {
              padding-right: 2.7rem;
            }
          }
        }
      }
    }
  }
}

iframe {
  display: none;
}
