@import '../../../../assets/theme/_var.scss';

.importPool {
    .selectTokenBox {
        padding: 0 28px 0 13px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        height: 70px;
        background-color: rgba($white, 0.05);

        @media (max-width: 1599px) {
            height: 44px;
            padding: 0 20px 0 8px;
        }
    }

    .TransferBtn {
        margin: 30px auto;

        @media (max-width: 1439px) {
            margin: 20px auto;
        }

        @media (max-width: 991px) {
            margin: 14px auto;
        }
    }

    .selectTokenText,
    .noPoolFound {
        margin-top: 20px;

        p {
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
        }
    }
}